
  body.center-form {
    min-height: 100vh;
  }

  div.center-form {
    position: relative;
    min-height: 100vh;
  }

  div.center-form > form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
body{
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    margin-left: 25%;
    margin-top: 2%;
    justify-content: center;
}


input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    border-radius: 10px;
}










