body{ 
    font-family: Arial;
}


p{
    color: black;   
font-family: Arial;
text-align: left
}

h2{
    
    color: brown;
      
}

h3{ font-family: Arial;
    text-align: left
    ;
}

a{  text-decoration: none !important;
    margin: auto;

}
.container{
    text-align: center;
}

font-family: Arial;
    text-align: left
    ;